div.container{
    display:grid;
    grid-template-columns: 100px 3fr 100px 3fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.item2{
    grid-column-start: 2;
    grid-column-end: 5;
}
.item:nth-child(odd){
    background-color: gray;
}
.item{
    margin:5px;
}

.item:nth-child(odd):hover + .item:nth-child(even){
    box-shadow: 5px 5px 0px black;
}
.item:nth-child(odd):hover{
    box-shadow: 5px 5px 0px black;
}
#SealOfApproval{
    background-image: url("cthulhu_approval.gif");
    position: fixed;
    right: 1px;
    bottom: 1px;
    width: 110px;
    height: 110px;
    margin-right:5px;
    margin-bottom: 5px;
}