/*
CSS Base for the Miskatonic Herald
*/

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

/*
* CSS for body
*/

body{
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    
    /*background-color:#323232;*/
    background-image:url("https://picsum.photos/1600/900");
    background-size: 100% 100%;
    font-family: 'OuroborosRegular';
    font-weight: normal;
    font-style: normal;
    margin: 0;
    color:#ffffff;
}


/*
* CSS for items
*/

items{
    width: 900px;
    text-align: center;
}

item{
    text-align: center;
}

/*
* CSS for body
*/
h1{
    font-size: 40px;
}
button{
    width: 450px;
    height: 90px;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    align-items: center;
    align-content: center;
    text-align: center;
    font-family: 'OuroborosRegular';
    font-size: 30px;
    background: linear-gradient(to bottom, rgba(203,96,179,1) 0%, rgba(193,70,161,1) 10%, rgba(168,0,119,1) 52%, rgba(219,54,164,1) 100%);}

button:hover {
    background: linear-gradient(to bottom, rgba(219,54,164,1) 0%, rgba(168,0,119,1) 48%, rgba(193,70,161,1) 90%, rgba(203,96,179,1) 100%);}

button:active {
    background: linear-gradient(to bottom, rgba(168,0,118,1) 0%, rgba(219,54,164,1) 48%, rgba(193,70,161,1) 48%, rgba(168,0,118,1) 100%);

}


/*
* CSS for steps
* - Includes the opacity for the 
*   animation that makes this more
*   dinamyc, but is only a simple
*   GUI.
*/

steps{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: auto;
    margin: auto;

}

/*
* CSS for all the steps
* with class (estabaEscondido)
* that turns the element visible
* with a transition.
*/
steps * {
    opacity: 0;
 
}

.estabaEscondido{
   opacity: 1;
   transition: opacity 1s;
 
}


/*Progress*/
/*
* CSS for ProgressBars
*/
progress{
    border: 1px solid white;
    background-color: #00000055;
    border-radius: 5px;
    padding-bottom:5px;
    padding-top: 5px;
    padding-left:5px;
    margin: 10px;
    width: 450px;
    color:green;
}
progress::-moz-progress-bar{
    background-color:green;
}

content{
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    background-color: #000000aa;
    width: 900px;
    padding:10px;
    border-radius: 10px;
}
steplabel{
    text-align: left;
    margin:10px;
}
finalmsg{
    margin:10px
    
}

.neon{
    
    animation-name: neon;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes neon {
    0% {
        color:red;
        opacity:0.7;
    }
    50%{
        color:orange;
        text-shadow: 2px 2px 5px red;
        opacity:1;
    }
    100%{
        color:red;
        opacity:0.7;
    }
   
}

