body{
    background-color:grey;
    padding: 3rem;
}

container{
    display: grid;
    grid-template-columns: repeat(5,120px);
    grid-template-rows: repeat(5,120px);
    margin: 1rem;
    display: grid;
}

button{
    border: 3px solid darkgrey;
}
boton{
    display: inline-block;
}

box{
    background-color: #1e0;
    border:3px solid #AABBAA;
    margin-top: 5px;
    border-radius: 10px; 
    margin-right: 10px;
    
}
header{
    display: block;
    height: 100px;
    width: 1000px;

}
.saltar{
    background: url('earthsg.png');
    background-size: 100% 100%;
    width: 100px;
    height: 90px;
}
.brincar{
    background: url('sgglyph.png');
    background-size: 100% 100%;
    width: 100px;
    height: 80px;
}
.parar{
    background: url('stapglyph.png');
    background-size: 100% 100%;
    width: 100px;
    height: 70px;
}

.evoluciona{
    background-color: #e10;
    transform: translateX(120px);
    transition-duration: 0.5s;
    transition-timing-function: ease-in;
    z-index: 2;
}

.desevoluciona{
    transform: translateX(0px);
    transition-duration: 0.5s;
    background-color: #10e;
    z-index: 1;
}

.ultimate{
    background-color: #441155;
    background-image: url('cthulhu.svg');
    background-size: 100% 100%;
}

.ultimate:hover{
    width: 95%;
    height: 95%;
}
.saltarino{
    position: relative;
    animation-name: saltarin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes saltarin{
    from {
        top: 0px;
        left:0px;
        animation-timing-function: ease-out;
        }
        25% {
            top: 10px;
            left: 20px;
        animation-timing-function: ease-in;
        }
        50% {
        top: 0px;
        left:40px;
        animation-timing-function: ease-out;
        }
        75% {
        top: 10px;
        left: 20px;
        animation-timing-function: ease-in;
        }
        to {
        top: 0px;
        left: 0px;
        }
}

.rotarino{
    position: relative;
    animation-name: rotarin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes rotarin{
    from {
        transform: rotate(0deg);
    }
        to {
            transform:rotate(360deg);
        }
}