.pantalla {
    display: flex;
    justify-content: center;
    align-content: center;
}

#mapa {
    display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-template-rows: repeat(16, 1fr);
    grid-area: auto;
}

body {
    background-color: yellow;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}

.muro {
    width: 40px;
    height: 40px;
    background-color: coral;
}

.puerta {
    width: 40px;
    height: 40px;
    background-color: gray;
}

.pilares {
    width: 40px;
    height: 40px;
    background-color: orange;
}

.pasillo {
    width: 40px;
    height: 40px;
    background-color: black;
}

.der1 {
    content: url('img/snakeder2.png');
}

.der2 {
    content: url('img/snakeder1.png');
}

.izq1 {
    content: url('img/snakeizq1.png');
}

.izq2 {
    content: url('img/snakeizq2.png');
}

.rexDer1 {
    content: url('img/rexDer1.png');
}

.rexDer2 {
    content: url('img/rexDer2.png');
}

.rexIzq1 {
    width: 40px;
    height: 40px;
    content: url('img/rexIzq1.png');
}

.rexIzq2 {
    content: url('img/rexIzq2.png');
}

.stinger {
    width: 40px;
    height: 40px;
    content: url('img/stinger.png');
}

.tarjeta {
    width: 40px;
    height: 40px;
    content: url('img/tarjeta.png');
}

.ray {
    width: 40px;
    height: 40px;
    content: url('img/ray.png');
}

.caja {
    width: 40px;
    height: 40px;
    content: url('img/caja.png');
}

.revelada {
    width: 40px;
    height: 40px;
    background-color: red;
}

.pisado {
    background-color: orangered;
}