:root{
    --body--bg--color:darkgray;
    --text--color:black;
    --prop--none:none;
    --font--type:'Open Sans';
    --display--type: inline-block;
    --align--left--type:left;
    --align--center--type:center;
}
body{
    background-color: var(--body--bg--color);
    font-family: var(--font--type);
}
a{
    color: var(--text--color);
    text-decoration: var(--prop--none);
}
li{
    display: var(--display--type);
    height: 150px;
    width: 150px;

}
header h1{
    text-align: var(--align--center--type);
}
ul{
    list-style: var(--prop--none);
}

a[rel=next]:before{
    content: url('noticias.svg');
}
a[rel=tag]:before{
    content: url('tienda.svg');
}
a[rel=bookmark]:before{
    content: url('favoritos.svg');
    float: var(--align--left--type);
    
}
a[rel=help]:before{
    content: url('ayuda.svg');
}
a[rel=search]:before{
    content: url('buscar.svg');
}
a[rel=nofollow]:before{
    content: url('secreto.svg');
    float: var(--align--left--type);
}
