body{
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.resultados{
        border-radius: 5px;
        border: 2px solid black;
        background-color: orange;
        display: grid,flexbox;
        width: 1400px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        padding: 20px;
        justify-content: center;
        
}

.fallas{
    box-shadow: 3px 3px 5px yellow;
    border: 2px solid black;
    border-radius: 2px;
    margin: 5px;
    img{
        height: 90%;
        width: 100%;
    }
    opacity: 0.7;
    text-align: center;
}

.fallas:hover{
    opacity: 1;
    font-size: large;
    //font-weight: 500;
}

.filtro{
    input{
        margin-top:5px;
        padding: 5px;
    }
    margin: 5px;
}